*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
}
.box{
    width:300px ;
    margin: 100px;
    padding: 20px;
    background-color: rgb(104, 231, 227);
    border-radius: 5px;
    
}
input,button{
    width: 100px;
    padding: 10px;
    margin-top: 10px;
}
button{
    background-color: #d62548;
    color:black;
    border-radius:5px;
    border:none;
     cursor: pointer;
}
